{% block head %}
<head><link rel="stylesheet" type="text/css" href="../static/style.css"></head>
<div id="container">
<div id="banner"><center><img class="banner" src="../static/apictionary.png" align="middle"></img></center></div>
<ul class="header">
  <form>
    <li class="header">
      <input type="text" name="word"><input type="submit" value="search">
    </li>
  </form>
  <li class="header"><a href="/">Home</a></li>
  <li class="header"><a href="/result">Result(test)</a></li>
</ul>
<br>


{% endblock head %}
