{% block head %}
<head><link rel="stylesheet" type="text/css" href="../static/style.css"></head>
<div id="container">
  <div id="banner"><center><img class="banner" src="../static/apictionary.png" align="middle"></img></center></div>

  <div id="nav">
    <ul class="header">
      {% if query %}
      <div id="searcher">
	<form>
	  <li class="header">
	    <input type="text" name="word" placeholder="Search for word"><input type="submit" value="Define">
	  </li>
	</form>
      </div>
      {% else %}
      {% endif %}
    <li class="header"><a href="/">Home</a></li>
  </ul>
  </div>
  <br>


  {% endblock head %}
